body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: bisque; */
  background-image: url("https://picsum.photos/id/66/1920/1080");
  background-size: cover;
  backdrop-filter: blur(10px) brightness(0.6);
  transition: background-image 0.4s ease-in-out;
}

.slider-container {
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  position: relative;
}

.image-container {
  display: flex;
  transition: 0.4s ease-in-out;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  opacity: 0.4;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

.next {
  right: 10px;
}

.previous {
  left: 10px;
}

@media (max-width: 500px) {
  .slider-container {
    width: 300px;
    height: 300px;
  }

  img {
    width: 500px;
    height: 300px;
  }
}
